body {
    background: radial-gradient(circle, #7AB2EB, #4E95DC);
    padding-top: 6%;
    height: 100vh;
    font-family: Roboto;
}
a:hover { text-decoration: none; }
.card-header {
    background: rgba(0,0,0,0.3);
    padding: 30px;
}
.card {
    background: #FFF;
    padding: 0;
    margin: 0;
    border-radius: 0px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 20px rgba(0, 0, 0, 0.23);
    margin-top: 20px;
    padding-top: 7px;
    height: 100%;
    margin-bottom: 100px;
}
.card-footer {
    background: #E8F4FF;
    width: 100%;
}
.card-footer:hover .btn-clear-task {
    color: #3E6996;
    outline: 0;
}
input[type="text"] {
    padding: 10px 10px;
    width: 80%;
    border: none;
    border-radius: 0;
    font-weight: 100;
    font-size: 15px;
    background: transparent;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    outline: 0;
    transition: all 0.5s;
    margin-right: 10px;
    color: #FFF;
}
input[type="text"]:focus {
    border-color: #FFF;
}
::-webkit-input-placeholder {
    color: rgba(255,255,255,0.7);
}
.btn-primary,
.btn-primary:focus {
    padding: 7px 20px;
    border: none;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: -5px;
    outline: 0;
    border-radius: 1px;
    background: #FFF;
    transition: all 0.5s;
    color: #4A75A1;
}
.btn-primary:hover{
    background: #5499DE;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    color: #FFF;
}
hr {
    border: 1px solid #DDD;
}
input[type="checkbox"] {
    margin-right: 10px;
}
ul li {
    margin-left: -20px;
    padding: 16px 30px 16px 0px;
    list-style-type: none;
    color: #555;
    font-size: 15px;
}
.strike {
    text-decoration: line-through;
    color: #888;
}
.strike button {
    background: #5499DE;
    color: #FFF;
}
.mark-done {
    margin: 2px 15px 2px 10px;
    line-height: 15px;
    padding-top: 4px;
    font-size: 12px;
    background: #EEE;
    color: #999;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    outline: 0;
    text-transform: uppercase;
}
.mark-done:hover {
    background: #4A75A1;
    color: #FFF;
}
.btn-clear-task,
.btn-clear-task:focus {
    margin: 13px 15px;
    background: transparent;
    text-transform: uppercase;
    font-size: 13px;
    color: #638CB8;
    transition: all 0.5s;
    outline: 0;
}
.btn-clear-task:hover {
    color: #3E6996 !important;
}

.hvr-sweep-to-right:before {
    background: #C7E3FF;
}
.no-ul-message {
    color: #666;
    padding: 14px 25px 17px 25px;
    padding-bottom: 13px;
    font-family: Roboto;
}
.by-kn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: rgba(255,255,255,0.7);
    font-size: 16px;
    position: fixed;
}
.by-kn a {
    color: #FFF;
    border-bottom: 1px dotted #FFF;
    transition: all 0.5s;
}
.by-kn:hover a {
    color: #BADDFF;
    border-color: #BADDFF;
}

/* MAKING IT RESPONSIVE */
@media (max-width: 768px) {
    .card-header {
        padding: 10px;
        padding-bottom: 15px;
    }
    input[type="text"] {
        width: 70%;
    }
    .mark-done {
        padding-bottom: 3px;
    }
} 