<div class="container main">
    <!-- <div class="loader" ng-show="vm.pre"></div> -->
    <ch-loader></ch-loader>
    <div class="row header">
        <form ng-submit="vm.addTask()">
            <input type="text" id="new-task" ng-model="vm.newTask" class="col-xs-12 col-sm-11" placeholder="Add a task and press ENTER" autofocus required>
            <button type="submit" class="btn-addtask col-xs-12 col-sm-1"><i class="fa fa-plus"></i></button>
        </form>
    </div>
    <div class="row content" ng-show="vm.tasks.length">
        <div class="col-xs-12">
            <ul class="list">
                <li ng-repeat="task in vm.tasks track by $index">
                    <div class="buttons-ctr col-xs-12 col-md-3 col-lg-2">
                        <button ng-class="{active: task.completed}" class="mark-done" ng-click="vm.toggleTask(task)">Done</button>
                        <button class="mark-done" ng-click="vm.deleteTask(task)">Delete</button>
                    </div>
                    <div class="col-xs-12 col-md-9 col-lg-10">
                        <span ng-show="!edit" ng-class="{completed: task.completed}" ng-click="edit = !edit">{{task.value}}</span>
    
                        <form class="edit-task" ng-show="edit" ng-submit="vm.update(task); edit = !edit">
                            <input class="edit" type="text" ng-model="task.value">
                            <button class="mark-done">OK</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row footer" ng-show="vm.tasks.length">
        <div class="col-xs-12">
            <button class="mark-done" ng-click="vm.markAll()">
                <span class="fa fa-check-square-o"></span>&nbsp;&nbsp;<span>Mark all as done</span>
            </button>
            <button class="mark-done" ng-click="vm.clearCompleted()">
                <span class="fa fa-check-square"></span>&nbsp;&nbsp;<span>Clear Completed</span>
            </button>
        </div>
    </div>
</div>